.vscode
.vscode-test
node_modules
src
examples
tsconfig.json
gen-icon.js
**/*.map
**/*.ts
.gitignore
scripts
test
TODO.md
.sandbox
coverage
.github
AGENTS.md
eslint.config.mjs
tsconfig.test.json
.prettierrc.json
